<div class="header" (keyup.enter)="search()">
  <div *ngIf="showBackButton" class="back-div">
    <img class="back-button" (click)="backToHome()" />
  </div>
  <div class="start" (click)="populateRecommendedVideos()">
    <img class="yt-green-icon" />
    <label class="youtube-text">Ad Free Videos</label>
  </div>
  <div class="center">
    <div class="search-box">
      <input type="text"
        [(ngModel)]="ytTextOrURL"
         class="search-input" 
         (keyup)="provideSuggestions()"
         matInput
         [matAutocomplete]="auto">
      <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" (optionSelected)="search()">
        <mat-option *ngFor="let option of suggestions;" [value]="option">{{option}}</mat-option>
      </mat-autocomplete>
      <button class="cross-mark" (click)="clearSearchText()">X</button>
      <img class="search-icon" (click)="search()"/>
    </div>
  </div>
  <div class="end"></div>
</div>