<div class="flex">
    <div class="show-results" *ngFor="let video of videoRenderer">
        <div class="video-renderer" (click)="playVideo(video.videoId, video.title.runs[0].text)">
            <div class="video-thumbnail">
            <img class="thumbnail-image" [src]='video!.thumbnail!.thumbnails[0]!.url'/>
            <label class="length-text">{{video?.lengthText?.simpleText}}</label>
            </div>
            <div class="video-info">
            <div class="title-text">
                {{video.title.runs[0].text}}
            </div>
            <div class="views-text">
                {{video?.viewCountText?.simpleText}} - {{video?.publishedTimeText?.simpleText}}
            </div>
            <div class="video-owner-text">
                {{video.longBylineText.runs[0].text}}
            </div>
            </div>
        </div>
    </div>
</div>