<app-header></app-header>
<div class="play-section">
    <div class="play-video">
      <iframe class="play-frame" id="player" [src]="src" playsinline frameborder="0" allowfullscreen  allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share'></iframe>
      <label class="play-title">{{title}}</label>
    </div>
    <div class="show-related-videos">
      <label class="static-text">
        Related Videos
      </label>  
      <div class="show-results" *ngFor="let videoData of videos" (click)="play(videoData!.videoRenderer!.videoId, videoData!.videoRenderer!.title!.runs[0]!.text)">
        <div class="video-renderer" [title]="videoData.videoRenderer.title.runs[0].text">
            <div class="video-thumbnail">
              <img class="thumbnail-image" [src]='videoData!.videoRenderer!.thumbnail!.thumbnails[0]!.url'/>
              <label class="length-text">{{videoData?.videoRenderer?.lengthText?.simpleText}}</label>
            </div>
            <div class="video-info">
              <div class="title-text">
                {{videoData.videoRenderer.title.runs[0].text}}
              </div>
              <div class="views-text">
                {{videoData?.videoRenderer?.viewCountText?.simpleText}} - {{videoData?.videoRenderer?.publishedTimeText?.simpleText}}
              </div>
              <div class="video-owner-text">
                {{videoData.videoRenderer.longBylineText.runs[0].text}}
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>